.*
!.gitignore
!.env.example
!.dockerignore
!.gomarklint.json
!.hadolint.yaml
!.yamllint.yml
!.github/
!.github/workflows/
!.github/workflows/*.yml
!.github/dependabot.yml
backups/
ansible/inventory.yml
